.smart-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.smart-item {
  background: #efe9dc;
  padding: 20px;
  border-left: 4px solid #8b1c1c;
  border-radius: 10px;
}

.smart-item h3 {
  color: #8b1c1c;
  font-family: "Libre Baskerville";
}

.smart-item a {
  color: #8b1c1c;
  font-weight: bold;
}
